.firstrow
{
  background-color: #6351ce

}

.firstdiv
{
    vertical-align: auto;
}


.first
{
    color: azure;
    padding-left: 15px;
    vertical-align: auto;
    padding: 3px;
  
    
    
}
.navbar
{
    margin-left: auto;
   
    
}

.firstsection
{
background: url("https://cdn.pixabay.com/photo/2015/05/15/14/47/computer-768696_960_720.jpg");
background-repeat: no-repeat;
  background-size: 100%;
  

}


.quote
{
  color: black;
    padding: 60px;
   margin: auto;
   text-align: center;
}

.btn-primary {
  background-color: #6351ce;
}

.card-body
{
    text-align: center;
    
}
.gap
{
    padding-bottom: 40px;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#6351ce;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;

  
 
}

.form {
  
  
}
.special {
  
  margin-bottom:30px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
    
    
   
   
   
    
    
